page-home {

}
.item-md{
    padding-left:0px;
}
button .item-md {
    width:0px;
    padding: 0px;
}

.ios,
.md {
    page-home {
        .margin-top-35 {
            margin-top: 35px;
        }
     }
}
